@model HomeIndexViewModel
<form asp-action="Search" asp-controller="Search" method="get" class="mb-4">
    <div class="input-group">
        <input type="text" name="searchTerm" class="form-control" placeholder="Search by name..." />
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<form method="post" asp-controller="Account" asp-action="Logout">
<AuthorizeView>
    <Authorized>
            <h2>Welcome @User.Identity!.Name</h2>

            @if (ViewBag.HasCv)//Visa rätt knappar beroende på om man har ett cv eller inte
            {                
                
                

                }
                @* else
                {
                    <a asp-controller="Cv" asp-action="CreateCv">Create cv</a>
                } *@
            @if(User.Identity.IsAuthenticated)
            {
                @if (ViewBag.HasCv != true)
                {
                        
                    <a asp-controller="CvInformation" asp-action="BuildCv" class="btn btn-primary">Create cv</a>
                }
               
                @* <a asp-controller="CvInformation" asp-action="BuildCv" class="btn btn-primary">Create cv</a> FÖR TEST TYP*@
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-primary">Logout</a> <br>
                    
            }
            </Authorized>
</AuthorizeView>
</form>

<h2>@ViewBag.CvIndexHeadline</h2>
<div class="d-flex gap-4 flex-wrap">
    @if(ViewBag.CvsExists == true)
    {
        @foreach (var user in Model.UserList)
        {
            @if(user.OneCv != null)
            {
                <div class="d-flex align-items-center gap-3 p-3 cv-container flex-wrap">
                    <div class="flex-grow-0">
                        <img src="@user.OneCv.ImageFilePath" />
                    </div>
                    <div class="flex-grow-1">
                        @if (!User.Identity!.IsAuthenticated && user.HasPrivateProfile == true)
                        {
                            <p class="mb-2">
                                <b>@user.FirstName @user.LastName</b>
                            </p>
                        }
                        else
                        {
                            <a asp-controller="Profile" asp-action="ReadProfile" asp-route-userId="@user.Id" class="mb-2 link-style-to-paragraph-style">
                                <b>@user.FirstName @user.LastName</b>
                            </a>
                        }
                        <i class="mb-2"><i class="fa-solid fa-eye"></i> @(user.OneCv.ReadCount)</i>
                    </div>
                    <div class="flex-grow-0 d-flex flex-column gap-2">
                        <a asp-controller="CvInformation" asp-action="ReadCv" asp-route-cid="@user.OneCv.Cid" class="btn btn-outline-primary btn-sm"><i class="fa-regular fa-address-card me-1"></i>See Cv</a>
                        @if (user.OneCv.UserId != ViewBag.userId)
                        {
                            <a asp-controller="Message" asp-action="SendMsg" asp-route-userId="@user.Id" class="btn btn-outline-secondary btn-sm"><i class="fa-regular fa-message me-1"></i>Send Message</a>

                        }
                        @* @if (ViewBag.CanSend)
                        {
                            <a asp-controller="Message" asp-action="SendMsg" asp-route-userId="@user.Id" class="btn btn-outline-secondary btn-sm"><i class="fa-regular fa-message me-1"></i>Send Message</a>

                        } *@
                    </div>
                </div>
            }
        }
    }
    else
    {
        <p>No cvs was found</p>
    }
</div>

@* -------------------------------------------------------Projects--------------------------------------------------------------------------- *@
@using Microsoft.AspNetCore.Identity @* hela project delen är ändrat *@

<h2>Recent projects</h2>
@if(Model.ProjectList.Any())//Om det finns några projekt i listan
{
    @foreach (var project in Model.ProjectList)//Loopar igenom varje projekt
    {
        <div class="min-vh-80 read-banner">
            <div class="row">
                <div class="col-12 text-center">
                    <p><strong>Title : </strong>@project.Project.Title</p>
                </div>

                <div class="col-12">
                    <p><strong>Owner : </strong>@project.Owner!.User.FirstName @project.Owner.User.LastName</p>
                </div>

                <div class="col-12">
                    <p><strong>Description : </strong>@project.Project.Description</p>
                </div>

                <div class="col-12">
                    <span><strong>Started : </strong>@project.Project.StartDate.ToShortDateString()</span>
                    <span><strong>Published : </strong>@project.Project.PublishDate.ToShortDateString()</span>
                    <span>
                        <strong>Status : </strong>
                        @(project.Project.Enddate == null ? "Ongoing project" : $"Ended: {project.Project.Enddate:yyyy-mm-dd}")
                    </span>
                </div>
                <div class="col-12 d-flex justify-content-between align-items-center flex-wrap">
                    <p class="mb-0">
                        @if(project.ActiveUsers.Any())
                        {
                            <strong>Participants : </strong>
                            @for(int i = 0; i<project.ActiveUsers.Count; i++)
                            {
                                @project.ActiveUsers[i].FirstName @project.ActiveUsers[i].LastName
                                @if(i < project.ActiveUsers.Count - 1)
                                {
                                    <span>, </span>
                                }
                            }
                        }
                    </p>
                    @if (!project.IsUserInProject)//Om nuvarande inloggad user inte är med i projektet
                    {//kraschar om man lyckades spara projekt utan user
                        <form method="post" asp-controller="Project" asp-action="ProjectDetails" asp-route-PUId="@project.Owner!.PUId">
                            <button class="btn btn-primary">Join project!</button>
                        </form>
                    }
                    else//Om user är med i projektet
                    {
                        <button class="btn btn-info">Already joined</button>
                    }
                </div>

            </div>

        </div>
    }
}
else//Om inga projekt finns
{
    <p>No projects available.</p>
}
