@model bla.Model.CvInfo.Cv

<h1>@ViewBag.Headline</h1>

@if (!ViewData.ModelState.IsValid)
{
    <h4 class="text-danger">You need to make some changes:</h4>
    <ul class="text-danger">
        @foreach (var err in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <li>
                @err.ErrorMessage
            </li>
        }
    </ul>
}

<form asp-action="UpdateCv" method="post" enctype="multipart/form-data">
    
    <input type="hidden" asp-for="Cid" /> @* För att få med Cv:ts id så att det inte autoinkrementeras och hela databasen förstörs *@
    <input type="hidden" asp-for="ReadCount" /> 
    <input type="hidden" asp-for="UserId" /> 

   
    <h3>@ViewBag.HeadlineImage</h3>
    <form method="post" asp-action="UpdateCv" enctype="multipart/form-data">
        <div class="mb-4">
            <input type="hidden" asp-for="ImageFilePath" />

            <div class="mb-2">
                Image: <input asp-for="ImageFile" type="file" accept="image/*" class="form-control img-file-picker" /> @* accept="image/*" gör så att bara alla bilformat går hitt när en bild ska väljas, Ska inte stå CvImages*@
                <img src="@Model.ImageFilePath" alt="Profile Image" />
            </div>
        </div>
    </form>

                                                                                                                @*IsPrivate *@
    @* <div class="mb-2">
        <b>Private profile - </b>
        <select asp-for="@Model.IsPrivate">
            @if (ViewBag.IsPrivate)
            {
                <option value="false">Public</option>
                <option selected value="true">Private</option>
            }
            else
            {
                <option selected value="false">Public</option>
                <option value="true">Private</option>
            }
                </select>
    </div>  *@

    <h3>@ViewBag.HeadlineExperiences</h3>                                                        @* Experiences *@
    <div class="mb-4" id="Experience-Container" data-experience-index="@Model.Experiences.Count">
        @for (int i = 0; i < Model.Experiences.Count; i++)
        {
            <p>eXPERIENCES EFTER DETTA ÄR FRÅN JAVASCRIPT</p>
            <input type="hidden" asp-for="Experiences[i].Exid" />
            <input type="hidden" asp-for="Experiences[i].CvId" />

            <div class="mb-4">
                <div class="mb-2">
                    Title: <input asp-for="Experiences[i].Title" type="text" value="@Model.Experiences[i].Title" />
                </div>
                <div class="mb-2">
                    Company: <input asp-for="Experiences[i].Description" type="text" value="@(Model.Experiences[i].Description ?? "")" /> @* string som är nullable, kolla om dem får tom stäng automatiskt eller om dem behöver manuellt *@

                </div>
                <div class="mb-2">
                    Description: <input asp-for="Experiences[i].Company" type="text" value="@Model.Experiences[i].Company" />
                </div>
                <div class="mb-2">
                    Start date: <input asp-for="Experiences[i].StartDate" type="date" value="@Model.Experiences[i].StartDate" /> @* DATE VALUE FUNKAR EJ *@
                </div>
                <div class="mb-2">
                    End date: <input asp-for="Experiences[i].EndDate" type="date" value="@Model.Experiences[i].EndDate" />
                </div>
            </div>
        }
    </div>
    <button type="button" onclick="addExperience()">Add Ecperience</button>



    <h3>@ViewBag.HeadlineEducation</h3>                                                          @* Education *@
    <div class="mb-4">
        
        <input type="hidden" asp-for="Education.Eid" />
        <input type="hidden" asp-for="Education.CvId" />

        <div class="mb-4">
            <p class="mb-1 mt-3"><b>High School</b> - Can be left empty</p>
            <div class="mb-2">
                High School: <input asp-for="Education.HighSchool" type="text" value="@Model.Education.HighSchool" />
            </div>
            <div class="mb-2">
                Program: <input asp-for="Education.HSProgram" type="text" value="@Model.Education.HSProgram" />
            </div>
            <div class="mb-2">
                Date: <input asp-for="Education.HSDate" type="date" value="@Model.Education.HSDate" />
            </div>
        </div>


        <div class="mb-4">
            <p class="mb-1 mt-3"><b>University</b> - Can be left empty</p>
            <div class="mb-2">
                University: <input asp-for="Education.Univeristy" type="text" value="@Model.Education.Univeristy" />
            </div>
            <div class="mb-2">
                Program: <input asp-for="Education.UniProgram" type="text" value="@Model.Education.UniProgram" />
            </div>
            <div class="mb-2">
                Date: <input asp-for="Education.UniDate" type="date" value="@Model.Education.UniDate" />
            </div>
        </div>
    </div>


    <h3>@ViewBag.HeadlineSkill</h3>                                                              @* Skill *@
    <div class="mb-4" id="Skill-Container" data-skill-index="@Model.Skills.Count">
        @for (int i = 0; i < Model.Skills.Count; i++)
        {
            <input type="hidden" asp-for="Skills[i].Sid" />
            <input type="hidden" asp-for="Skills[i].CvId" />

            <div class="mb-4">
                <div class="mb-2">
                    Skill: <input asp-for="Skills[i].ASkill" type="text" value="@Model.Skills[i].ASkill" />
                </div>
                <div class="mb-2">
                    Description: <input asp-for="Skills[i].Description" type="text" value="@(@Model.Skills[i].Description ?? "")" />
                </div>
                <div class="mb-2">
                    Skill Since: <input asp-for="Skills[i].Date" type="date" value="@Model.Skills[i].Date" />
                </div>

            </div>
        }
                                                                                           @*PersonalCharacteristics*@
    </div>
    <button type="button" onclick="addSkill()">Add Skill</button>

    <h3>@ViewBag.HeadlineCertificates</h3>                                                       @* Certificates *@
    <div class="mb-4" id="Certificates-Container" data-certificates-index="@Model.Certificates.Count">
        @for (int i = 0; i < Model.Certificates.Count; i++)
        {
            <input type="hidden" asp-for="Certificates[i].CertId" />
            <input type="hidden" asp-for="Certificates[i].CvId" />
            <div class="mb-4">
                <div class="mb-2">
                    Cerificate: <input asp-for="Certificates[i].CertName" type="text" value="@Model.Certificates[i].CertName" />
                </div>
            </div>
        }
    </div>
    <button type="button" onclick="addCertificates()">Add Cerificate</button>

    <h3>@ViewBag.HeadlinePersonalCharacteristics</h3>                                            @* PersonalCharacteristics *@
    <div class="mb-4" id="PersonalCharacteristics-Container" data-personalcharacteristics-index="@Model.PersonalCharacteristics.Count">
        @for (int i = 0; i < Model.PersonalCharacteristics.Count; i++)
        {
            <input type="hidden" asp-for="PersonalCharacteristics[i].PCId" />
            <input type="hidden" asp-for="PersonalCharacteristics[i].CvId" />

            <div class="mb-4">
                <div class="mb-2">
                    Personal Characteristic: <input asp-for="PersonalCharacteristics[i].CharacteristicName" type="text" value="@Model.PersonalCharacteristics[i].CharacteristicName" />
                </div>
            </div>
        }
    </div>
    <button type="button" onclick="addPersonalCharacteristic()">Add Personal Characteristic</button>

    <h3>@ViewBag.HeadlineInterest</h3>                                                           @* Interest *@
    <div class="mb-4" id="Interests-Container" data-interests-index="@Model.Interests.Count">
        @for (int i = 0; i < Model.Interests.Count; i++)
        {
            <input type="hidden" asp-for="Interests[i].InterestId" /> @* Måste finnas med för att dem ska finnas i Modelstate vid Post, syns ej i sidan *@
            <input type="hidden" asp-for="Interests[i].CvId" />
            <div class="mb-4">
                <div class="mb-2">
                    Interest: <input asp-for="Interests[i].InterestName" type="text" value="@Model.Interests[i].InterestName" />
                </div>
            </div>
        }
    </div>
    <button type="button" onclick="addInterests()">Add Interest</button><br>



    <button type="submit" class="btn btn-primary">Save changes</button>
</form>

