@model IEnumerable<MessageVM>

<h2>Messages</h2>
<div>
    <table class="table table-dark">
        <tbody>
            
            @foreach (var message in Model)
            {
                <tr>
                    <td>From: @message.Sender</td>
                    <td>Sent: @message.SendDate.ToShortDateString()</td>
                    <td><a asp-controller="Message" asp-action="ReadMsg" asp-route-mid="@message.Mid" class="btn btn-outline-light">Read</a></td>
                    <td>
                        <form asp-action="UpdateIsRead" asp-route-mid="@message.Mid" method="post">
                            <select asp-for="@message.IsRead">
                                @if (message.IsRead)
                                {
                                    <option selected value="true">Is read</option>
                                    <option value="false">Not read</option>
                                }
                                else
                                {
                                    <option value="true">Is read</option>
                                    <option selected value="false">Not read</option>
                                }
                            </select>
                            <input type="submit" class="btn btn-outline-success"  value="Mark read status"/>
                        </form>
                    </td>
                    <td>
                        <a asp-action="DeleteMessageConfirm" asp-route-mid="@message.Mid" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            @if (ViewBag.HasMesseges != true)
            {
                <i class="text-body-emphasis">You have no messages</i>
            }
        </tbody>
    </table>
    
</div>