@model bla.Model.CvInfo.ExperienceVM

@* @if (!ViewData.ModelState.IsValid)
{
    <h4 class="text-danger">You need to make some changes:</h4>
    <ul class="text-danger">
        @foreach (var err in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <li>
                @err.ErrorMessage
            </li>
        }
    </ul>
} *@

<form asp-action="AddExperience" method="post">
    <div class="d-flex justify-content-center align-content-center min-vh-100">
        <div class="col-md-6 col-lg-4">
            <h3 class="text-center mb-4">Experience</h3>

            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label"></label>
                <input type="text" asp-for="@Model.Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label"></label>
                <input type="text" asp-for="@Model.Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Company" class="form-label"></label>
                <input type="text" asp-for="@Model.Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.StartDate" class="form-label"></label>
                <input type="date" asp-for="@Model.StartDate" min="1900-01-01" max="2049-12-31" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.EndDate" class="form-label"></label>
                <input type="date" asp-for="@Model.EndDate" min="1900-01-01" max="2049-12-31" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Add</button>
        </div>
    </div>
</form>
