@model bla.Model.CvInfo.Cv

<h1>@ViewBag.Headline</h1>

<div class="mb-4"><q><i>@ViewBag.WarningMessage</i></q></div>

<form asp-action="DeleteCv" method="post" enctype="multipart/form-data">

    <input type="hidden" asp-for="Cid" />
    <input type="hidden" asp-for="ReadCount" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="ImageFilePath" />
    <input asp-for="ImageFile" type="hidden" accept="CvImages/*" />

    @* Experiences *@
    @for (int i = 0; i < Model.Experiences.Count; i++)
    {
        <input type="hidden" asp-for="Experiences[i].Exid" />
        <input type="hidden" asp-for="Experiences[i].CvId" />
        <input asp-for="Experiences[i].Title" type="hidden" value="@Model.Experiences[i].Title" />
        <input asp-for="Experiences[i].Description" type="hidden" value="@(Model.Experiences[i].Description ?? "")" />
        <input asp-for="Experiences[i].StartDate" type="hidden" value="@Model.Experiences[i].StartDate" /> 
        <input asp-for="Experiences[i].EndDate" type="hidden" value="@Model.Experiences[i].EndDate" />
    }

    @* Education *@
    <input type="hidden" asp-for="Education.Eid" />
    <input type="hidden" asp-for="Education.CvId" />
    <input asp-for="Education.HighSchool" type="hidden" value="@Model.Education.HighSchool" />
    <input asp-for="Education.HSProgram" type="hidden" value="@Model.Education.HSProgram" />
    <input asp-for="Education.HSDate" type="hidden" value="@Model.Education.HSDate" />
    <input asp-for="Education.Univeristy" type="hidden" value="@Model.Education.Univeristy" />
    <input asp-for="Education.UniProgram" type="hidden" value="@Model.Education.UniProgram" />
    <input asp-for="Education.UniDate" type="hidden" value="@Model.Education.UniDate" />

    @* Skill *@
    @for (int i = 0; i < Model.Skills.Count; i++)
    {
        <input type="hidden" asp-for="Skills[i].Sid" />
        <input type="hidden" asp-for="Skills[i].CvId" />
        <input asp-for="Skills[i].ASkill" type="hidden" value="@Model.Skills[i].ASkill" />
        <input asp-for="Skills[i].Description" type="hidden" value="@(@Model.Skills[i].Description ?? "")" />
        <input asp-for="Skills[i].Date" type="hidden" value="@Model.Skills[i].Date" />

    }

    @* Certificates *@
    @for (int i = 0; i < Model.Certificates.Count; i++)
    {
        <input type="hidden" asp-for="Certificates[i].CertId" />
        <input type="hidden" asp-for="Certificates[i].CvId" />
        <input asp-for="Certificates[i].CertName" type="hidden" value="@Model.Certificates[i].CertName" />
    }

    @* PersonalCharacteristics *@
    @for (int i = 0; i < Model.PersonalCharacteristics.Count; i++)
    {
        <input type="hidden" asp-for="PersonalCharacteristics[i].PCId" />
        <input type="hidden" asp-for="PersonalCharacteristics[i].CvId" />
        <input asp-for="PersonalCharacteristics[i].CharacteristicName" type="hidden" value="@Model.PersonalCharacteristics[i].CharacteristicName" />
    }

    @* Interest *@
    @for (int i = 0; i < Model.Interests.Count; i++)
    {
        <input type="hidden" asp-for="Interests[i].InterestId" /> 
        <input type="hidden" asp-for="Interests[i].CvId" />
        <input asp-for="Interests[i].InterestName" type="hidden" value="@Model.Interests[i].InterestName" />
    }

    <button type="submit" class="btn btn-danger">Delete</button>
</form>

